.custom-select-area p {
    margin-bottom: 0;
}

.custom-select-area {
    position: relative;
}

.selected-option {
    padding: 0.550rem 1.25rem;
    border: 1px solid #cacaca73;
    border-radius: 5px;
    cursor: pointer;
}

.custom-select-list {
    border: 1px solid #ced4da;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    top: 50px;
    height: auto;
    z-index: 9;
    background: #fff;
    max-height: 300px;
    overflow: auto;
}

.custom-select-list::-webkit-scrollbar {
    background-color: #ced4da;
    width: 5px;
}

.custom-select-list::-webkit-scrollbar-thumb {
    background: #706f6f73;
    border-radius: 15px;
}

.single-select-option {
    padding: 0.625rem 1.25rem;
    border-bottom: 1px solid #ced4da;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.selected-option .option-thumb,
.single-select-option .option-thumb {
    width: 28px;
    height: 28px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    margin-right: 7px;
}

.single-select-option:hover {
    background: #F1F1F1;
}

.single-select-option:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.custom-select-title {
    font-size: 14px;
}

.single-select-option .custom-select-sub-title {
    font-size: 12px;
}

.custom-select {
    height: 0;
    width: 0;
    visibility: hidden;
}

.search-enabled {
    padding: 0;
    border-color: #65646473
}

.search-enabled .custom-select-filter {
    padding: 0.625rem 1.25rem;
    border: 0;
    border-radius: 5px;
}

.search-enabled .custom-select-filter:focus,
.search-enabled .custom-select-filter:active {
    border: 0;
    box-shadow: 0;
    outline: 0;
}